* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.slide {
  max-width: 540px;
  height: 4.02597403rem;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.slide ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 300%;
  height: 100%;
}
.slide ul li {
  width: 10rem;
  height: 100%;
  float: left;
  box-sizing: border-box;
}
.slide .dot {
  position: absolute;
  width: 100%;
  bottom: 0.19480519rem;
  font-size: 0;
  text-align: center;
}
.slide .dot span {
  display: inline-block;
  width: 0.15584416rem;
  height: 0.15584416rem;
  border-radius: 0.07792208rem;
  background: blue;
  margin: 0 0.12987013rem;
}
.slide .dot span.on {
  background: yellow;
}
