@charset 'utf-8';
html {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  /* 默认字体l0px */
}
body {
  margin: 0;
  font-size: 12px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #666;
}
a:active {
  outline: 0;
  color: #666;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  vertical-align: middle;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input::-webkit-input-placeholder {
  color: #ccc;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
textarea::-webkit-input-placeholder {
  color: #ccc;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
  margin: 0;
}
ul,
ol,
li,
dl,
dd {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none outside none;
}
h1,
h2,
h3 {
  line-height: 2;
  font-weight: normal;
}
.ellipsis {
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mulit-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.shape-circle {
  width: 0.1875rem;
  height: 0.1875rem;
  background-color: #fff;
  border: 1px solid  #ccc;
  border-radius: 50%;
}
.a-container {
  display: block;
}
.transparent {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.no-display {
  display: none;
}
.hide {
  visibility: hidden;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.bgImg-no-repeat {
  background-repeat: no-repeat;
}
.bgImg-center {
  background-position: center center;
}
.bgImg-size-cover {
  background-size: cover;
}
.bgImg-size-contain {
  background-size: contain;
}
.flex-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.border-1px {
  position: relative;
}
.border-1px:after {
  content: '';
  position: absolute;
}
.border-1px-before {
  position: relative;
}
.border-1px-before:before {
  content: '';
  position: absolute;
}
.border-1px-before.bottom:before {
  bottom: 0;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.border-1px-right:after {
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  border-right: 1px solid #ccc;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
.border-1px-bottom:after {
  bottom: 0;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
/* 一张大图，三张小图布局 */
.layerout-one-big-3small > div {
  width: 1.5rem;
  height: 2.36rem;
}
.layerout-one-big-3small > div:nth-child(4n - 3) {
  width: 3rem;
}
/* 50% 布局 */
.layerout-half {
  width: 50%;
  height: auto;
}
