<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title></title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
.red {
    color: red;
}
.green {
    background: green;
}
.pink {
    border: 3px solid pink;
}
</style>
</head>
<body>
    <div id="app">
        <!-- 属性是css样式的名字 值是data里的redclass(boolean,控制是否添加这个class样式) -->
        <p :class="{red: redclass,green: greenclass, pink: pinkclass}">这里是p标签</p>
        <input type="checkbox" name="color" v-model="redclass" >红色文字
        <input type="checkbox" name="color" v-model="greenclass">绿色背景
        <input type="checkbox" name="color" v-model="pinkclass">粉色边框
    </div>
    <script>
        var app = new Vue({

            //选择元素
            el: "#app",
            data: { //绑定数据到#app的实例上
                redclass: true,
                greenclass: false,
                pinkclass: false
            }
        });
    </script>
</body>
</html>
